version: "3.9"

services:
  server:
    build: ./server
    container_name: chuck-server
    ports:
      - "4000:4000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production

  client:
    build: ./client
    container_name: chuck-client
    ports:
      - "3000:80"
    depends_on:
      - server
